<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Rat</title>
</head>
<body>

<img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);"
     src="file:///C:/Users/abeglyarov/Documents/telegramm-bot/src/main/resources/image/rat-spinning.gif">
<video controls="" autoplay="" name="media"><source src="../static/audio_2022-12-15_13-44-41.ogg" type="audio/mpeg"></video>

</body>
</html>